/* home.css */

/* Base styles for mobile screens */
body {
	margin: 0;
	font-family: "Dunbar Tall", sans-serif;
	font-weight: bold;
	font-style: normal;
	overflow-x: hidden;
}

@font-face {
	font-family: "Dunbar Tall";
	src: url("fonts/DunbarTall-Bold.eot");
	src: url("fonts/DunbarTall-Bold.eot?#iefix") format("embedded-opentype"),
		url("fonts/DunbarTall-Bold.woff2") format("woff2"),
		url("fonts/DunbarTall-Bold.woff") format("woff"),
		url("fonts/DunbarTall-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

header {
	background-color: #4a2661;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 30%;
	margin: auto;
}

.navbar {
	position: relative;
}

.navbar .menu-toggle {
	background: none;
	border: none;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}

.navbar .menu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 145%;
	right: 1%;
	background-color: #532573;
	border-radius: 10px;
	font-size: 0.6rem;
	z-index: 1000;
}

.navbar.open .menu {
	display: flex; /* Add this line to display the menu when .navbar has the 'open' class */
}

.navbar .menu a {
	color: #fbc122;
	text-decoration: none;
	padding: 10px;
	display: block;
	font-size: 1.2em;
}

.navbar .menu a:hover {
	background-color: #2d143f;
	border-radius: 0 0 10px 10px;
}

.navbar .menu a:not(:last-child) {
	border-bottom: 1px solid #fff;
	width: 80vw;
}

main {
	text-align: center;
	background-color: #522573;
	color: white;
}

.hero {
	position: relative;
	text-align: center;
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	max-width: max-content;
	color: white;
	z-index: 1;
}

.hero-content h1 {
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 1.2;
	text-align: left;
	max-width: 40vw;
	font-style: italic;
}

.hero-content .marketing {
	text-transform: uppercase;
	font-size: 1.5rem;
	max-width: 20vw;
	font-style: italic;
}

.hero-content p {
	font-size: 0.6rem;
	max-width: 50vw;
	text-align: left;
	margin: 20px 0;
}

.transform {
	transform: translateY(-30%);
	transition: transform 0.1s ease-out;
}

.team-photo {
	position: relative;
	overflow: hidden;
}

.team-photo img {
	width: 100%;
	height: auto;
	display: block;
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 1;
	position: relative;
}

.team-member {
	margin: 20px;
	text-align: center;
	font-weight: bolder;
	font-size: large;
}

.team-member img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center center;
	max-width: 100%;
}

.svg-container {
	position: relative;
	width: 100%;
}

.svg-wave {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	top: -230px;
}

.about {
	display: flex;
	/* flex-wrap: nowrap; */
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	position: relative;
	z-index: 2;
}

.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-text {
	flex: 1 1 50%;
	max-width: 80%;
	text-align: left;
	margin: auto;
	line-height: 1.6;
}

.about-text :nth-child(2) {
	color: #fbc122;
}

.about-image {
	flex: 1 1 50%;
	max-width: 500px;
	text-align: center;
	padding-right: 10%;
	position: relative;
}

.about-image img {
	width: 100%;
	border-radius: 10px;
}

.backstick-left img {
	/* border: 2px solid red; */
	width: 10%;
	position: absolute;
	right: 25%;
	bottom: 45%;
}

.backstick-right img {
	/* border: 2px solid red; */
	width: 10%;
	position: absolute;
	left: 25%;
	top: 70%;
}

.carousel-container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}

.carousel {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-slide {
	min-width: 100%;
	box-sizing: border-box;
	position: relative;
}

.carousel-slide img {
	width: 30%;
	object-fit: cover;
}

.carousel-controls {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	z-index: 2;
}

.carousel-controls button {
	background: none;
	border: none;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0 20px;
}

.carousel-controls button:focus {
	outline: none;
}

.konzeption-photo {
	width: 100%;
}

.konzeption-photo img {
	width: 100%;
	height: auto;
	object-fit: cover;
	/* clip-path: url(#waveClip); */
}

.svg-container {
	width: 0;
	height: 0;
	position: absolute;
	overflow: hidden;
}

.banner {
	background-color: #522573;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 5%;
	z-index: 2;
}

.content {
	max-width: 80vw;
	text-align: left;
	margin: auto;
}

.content p {
	font-size: 1rem;
}

.buttons {
	width: 110%;
	margin: auto;
}

.buttons button {
	background-color: #fbc122;
	margin-top: 30px;
	color: white;
	width: 40%;
	padding: 20px;
	border: none;
	border-radius: 15px;
	margin-right: 3%;
	font-weight: bolder;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buttons button:hover {
	background-color: #2d143f;
}

.image-container {
	flex: 1;
	display: flex;
	justify-content: center;
	margin: 10% 0;
}

.image-container img {
	max-height: 30vh;
	transform: scale(1.2);
}

.content-container {
	text-align: center;
	background-color: #d1cfcf;
	color: white;
	margin-top: -44px;
}

.projects-container {
	padding: 0 10%;
}

.content-container .content {
	margin: auto;
	padding: 6% 0;
}

.content-container .content h2 {
	padding-top: 20% 0;
	color: #522573;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}

.ettmeier {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 5%;
	z-index: 2;
}

.ettmeier-text {
	flex: 1 1 50%;
	margin: auto;
	padding: 5% 10%;
	max-width: 100%;
	text-align: center;
	position: relative;
	text-align: left;
	line-height: 1.6;
	color: #000;
}

.ettmeier-text h1 {
	font-weight: bolder;
	font-size: 1.5rem;
}

.ettmeier-text :nth-child(2) {
	color: #daa618;
}

.ettmeier-image {
	flex: 1 1 50%;
	margin: auto;
	max-width: 90%;
	text-align: center;
	position: relative;
}

.ettmeier-image img {
	width: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.ettmeier-image img:hover {
	transform: scale(1.1);
}

.nopa {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-bottom: 10%;
	z-index: 2;
}

.nopa-text {
	flex: 1 1 50%;
	margin: auto;
	padding: 5% 10%;
	max-width: 100%;
	text-align: center;
	position: relative;
	text-align: left;
	line-height: 1.6;
	color: #000;
}

.nopa-text h1 {
	font-weight: bolder;
	font-size: 2rem;
}

.nopa-text :nth-child(2) {
	color: #daa618;
}

.nopa-image {
	flex: 1 1 50%;
	margin: auto;
	max-width: 90%;
	text-align: center;
	margin-bottom: 10%;
	position: relative;
}

.nopa-image img {
	width: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.nopa-image img:hover {
	transform: scale(1.1);
}
.balk-lobback {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 10%;
	z-index: 2;
}

.balk-lobback-text {
	flex: 1 1 50%;
	margin: auto;
	padding: 10%;
	max-width: 100%;
	text-align: center;
	position: relative;
	text-align: left;
	line-height: 1.6;
	color: #000;
}

.balk-lobback-text h1 {
	font-weight: bolder;
	font-size: 2rem;
}

.balk-lobback-text :nth-child(2) {
	color: #daa618;
}

.balk-lobback-image {
	flex: 1 1 50%;
	margin: auto;
	max-width: 90%;
	text-align: center;
	/* padding-left: 10%; */
	position: relative;
}

.balk-lobback-image img {
	width: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.balk-lobback-image img:hover {
	transform: scale(1.1);
}

.animate {
	opacity: 0;
	transform: translateY(-50%);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.in-view {
	opacity: 1;
	transform: translateY(0);
}

/* Base styles for level section */
.level {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, #522573 100%);
	z-index: 2;
	/* clip-path: url(#waveClip); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.left {
	margin-bottom: 20px;
}

.right {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.left h1 {
	width: 80%;
	font-size: 2.6rem;
	text-align: left;
	margin: 10%;
}

.left h1 span {
	color: #f9a825;
}

.image-level-up img {
	width: 70vw;
	height: 70vw;
	margin-bottom: 20%;
}

.social-icons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	max-width: 50vw;
}

.social-icons a {
	width: 10vw;
	height: 6vh;
	display: block;
	align-items: center;
	background-color: #522573;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.social-icons a img {
	width: 7vw;
	margin-top: 35%;
}

/* Footer styles */
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000;
	padding: 10px 20px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	padding: 0 20px;
}

.logo-footer img {
	width: 10%;
}

.footer-links {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
}

.footer-links a {
	color: white;
	text-decoration: none;
}

.footer-content span {
	color: #522573;
}

/* Container shortcuts */
.container-shortcut {
	position: fixed;
	bottom: 2%;
	right: 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 200;
}

.button {
	display: block;
	background-color: white;
	padding: 15%;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 2px solid #fbc122;
}

.button img {
	width: 20px;
	height: 20px;
}

/* Modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;
}

.modal-content-wc {
	position: relative;
	background-color: #fefefe;
	background-image: url(./images/WC-Ente-e1692952792284.png);
	background-repeat: no-repeat;
	background-size: 30vw;
	background-position: 50% 80%;
	height: 80vh;
	max-width: 35vw;
	margin: 15% auto;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 5%;
}

#social-icons {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#social-icons h1 {
	font-size: 2.8rem;
	font-weight: bold;
	color: #522573;
	margin: 10px 20px 0 20px;
}

.icons-parent {
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
}

#social-icons a {
	width: 2vw;
	height: 5vh;
	align-items: center;
	background-color: #522573;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	margin: 0 2%;
}

#social-icons img {
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 10px 5px;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	color: #aaa;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
}

.modal-content-email {
	position: relative;
	background-color: #fefefe;
	height: auto;
	max-width: 35vw;
	margin: 15% auto;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 5%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#email-form-modal {
	background-image: url(./images/back-email.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.modal-content-email form {
	display: flex;
	flex-direction: column;
	background-image: url(./images/adler.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: right;
}

form select,
form input,
form textarea,
form input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 16px;
}

form input[type="submit"] {
	background-color: #ffcc00;
	color: #4a148c;
	border: none;
	cursor: pointer;
	border-radius: 35px;
	width: 20%;
}

form input[type="submit"]:hover {
	background-color: #e6b800;
}

form select,
form input,
form textarea {
	background-color: #f9f9f9;
	width: 70%;
}

.contact-info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: #4a148c 1px solid;
	gap: 20px; /* Add some space between the h6 elements if needed */
}

.contact-info h6 {
	color: #ffcc00;
	font-size: 0.7rem;
	padding: 10px; /* Add padding if needed */
	margin: 0; /* Remove default margin */
}

/* Tablet styles */
@media (min-width: 600px) {
	.logo img {
		width: 30%;
	}

	.hero-content h1 {
		font-size: 2rem;
		max-width: 50vw;
	}

	.hero-content p {
		font-size: 0.8rem;
		max-width: 40vw;
	}

	.hero-content .marketing {
		font-size: 3.5rem;
	}

	.navbar .menu a {
		font-size: 1.5em;
	}

	.navbar .menu a:not(:last-child) {
		width: 26vw;
	}

	.navbar .menu {
		top: 170%;
		right: 1%;
	}

	.carousel-slide img {
		width: 40%;
	}

	.carousel-controls {
		top: 30%;
	}

	.carousel-controls button {
		font-size: 2rem;
		margin: 0 40px;
	}

	.content p {
		line-height: 24px;
	}

	.banner .content {
		padding-bottom: 3%;
		max-width: 45vw;
		margin-left: 15%;
	}

	.content-container .content h2 {
		padding-top: 20% 0;
		color: #522573;
		text-align: center;
		text-transform: uppercase;
		font-size: 2rem;
		width: 65%;
		margin: 5% auto;
	}

	.ettmeier-text h1,
	.nopa-text h1,
	.balk-lobback-text h1 {
		font-size: 1.4rem;
	}

	.image-level-up img {
		width: 45vw;
		margin-right: 40px;
	}

	.social-icons a {
		width: 8vw;
		height: 8vh;
	}

	.social-icons img {
		width: 30px !important;
	}
}

/* Laptop styles */
@media (min-width: 1024px) {
	.logo img {
		width: 25%;
	}

	.hero-content {
		left: 30%;
	}

	.hero-content h1 {
		font-size: 3.5rem;
		max-width: 55vw;
	}

	.hero-content p {
		font-size: 1.5rem;
		max-width: 35vw;
	}

	.hero-content .marketing {
		font-size: 5.6rem;
	}

	.team-member img {
		width: 120px;
		height: 120px;
	}

	.navbar .menu {
		font-size: 1rem;
	}

	.navbar .menu-toggle {
		font-size: 1.7rem;
	}

	.about-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.about-text {
		max-width: 50vw;
		padding-left: 2rem;
	}

	.about-image {
		flex: 1;
	}

	/* .about {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}

	.about-text {
		flex: 1;
		max-width: 100%;
		text-align: left;
		margin: 5% 75px;
	}

	.about-image {
		flex: 1;
		max-width: 30%;
	} */

	.carousel-slide img {
		width: 30%;
	}

	.carousel-controls {
		top: 25%;
	}

	.content-container .content h2 {
		width: 90%;
		margin: 5% 0 auto;
		font-size: 2.5rem;
	}

	.content h2 {
		font-size: 3rem;
		color: #532573;
	}

	.content {
		width: 45vw;
		margin-left: 15%;
		margin-bottom: 13%;
	}

	.ettmeier-text h1,
	.nopa-text h1,
	.balk-lobback-text h1 {
		font-size: 1.4rem;
	}

	.ettmeier,
	.nopa,
	.balk-lobback {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}

	.ettmeier-text {
		flex: 1;
		width: 50vw;
		text-align: left;
	}

	.ettmeier-image {
		flex: 1;
		width: 20vw;
		margin-left: 20px;
	}

	.nopa-text {
		flex: 1;
		width: 30vw;
		text-align: left;
		padding: 5%;
	}

	.nopa-image {
		flex: 1;
		width: 30vw;
		margin-right: 40px;
	}

	.balk-lobback-image {
		flex: 1;
		width: 30vw;
		margin-left: 20px;
	}

	.balk-lobback-text {
		flex: 1;
		width: 30vw;
		text-align: left;
		padding: 5%;
	}

	.level {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.left {
		flex: 1;
	}

	.left h1 {
		width: 45vw;
	}

	.right {
		display: flex;
		align-items: center;
		margin-right: 100px;
	}

	.image-level-up img {
		width: 200px;
		height: 210px;
	}

	.social-icons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		max-width: 20vw;
	}

	.social-icons a {
		width: 6vw;
		height: 8.5vh;
	}

	.container-shortcut {
		bottom: 5.5%;
		right: 3%;
	}

	.button img {
		width: 45px;
		height: 45px;
		/* margin-top: 5%; */
	}
}

/* Large screen styles */
@media (min-width: 1440px) {
	.logo img {
		width: 20%;
	}

	.hero-content h1 {
		font-size: 4rem;
	}

	.hero-content .marketing {
		font-size: 6.5rem;
	}

	.team-member img {
		width: 180px;
		height: 180px;
	}

	.navbar .menu {
		font-size: 1.2rem;
	}

	.navbar .menu-toggle {
		font-size: 2.5rem;
	}

	.content {
		margin-left: 15%;
		margin-bottom: 13%;
		font-size: x-large;
	}

	.content-container .content h2 {
		width: 100%;
		font-size: 4rem;
	}

	.ettmeier-text {
		padding: 2%;
		max-width: 40vw;
	}

	.ettmeier-image {
		margin-left: 5%;
	}

	.nopa-text {
		padding: 2%;
		max-width: 40vw;
		margin-left: 5%;
	}

	.balk-lobback-text {
		padding: 2%;
		max-width: 40vw;
	}

	.balk-lobback-image {
		margin-left: 7%;
		margin-bottom: 4%;
	}

	.left h1 {
		margin-left: 20%;
		width: 45vw;
	}

	.right {
		margin-right: 180px;
	}

	.image-level-up img {
		width: 200px;
		height: 210px;
		margin-right: 80px;
	}

	.social-icons a {
		width: 4vw;
		height: 7.7vh;
	}

	.container-shortcut {
		bottom: 6%;
		right: 2%;
	}

	.button img {
		width: 45px;
		height: 45px;
		margin-top: 5px;
	}
}
